#logo_wrap {
  position: relative;
  top: 50%;
}
.main_logo {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  animation: 0.5s cubic-bezier(0, 0, 0.05, 0.99) 0s 1 normal both running XQEJQi,
    2s ease-in-out 0s infinite normal none running TNbKWc;
}
@media (max-width: 767px) {
  .main_logo {
    width: 280px;
  }
}
.fuchi_logo {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
@media (max-width: 767px) {
  .fuchi_logo {
    width: 300px;
  }
}
